/* css styles */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #2c3e50;
  text-decoration: none; /* Removes the text underline */
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2c3e50;
  font-family: sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button-link:hover {
  background-color: #2c3e50; /* Darkens the button on hover */
  color: white;
  border-color: #2c3e50;
  transition: background-color 0.3s, color 0.3s;
}
.button-link:active {
  background-color: #2c3e50; /* Darkens the button on hover */
  color: white;
  border-color: #2c3e50;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.info-box {
  background-color: #D6E4ED;
  color: black;
  border-width: 2px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  font-family: sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.stacked-list dt {
  font-weight: bold;
  margin-top: 15px; /* Adds space before the next name */
}

.stacked-list dd {
  margin: 0 0 2px 0 !important;   /* Forces bottom margin to 2px, resets everything else */
  padding: 0 !important;
  color: #555;      /* Optional: makes the description slightly lighter */
}
